{{extend 'layout.html'}}
{{import datetime}}
<h2>{{=T(' '.join(x.capitalize() for x in request.function.split('_')))}}</h2>

{{for enr_id, enr in session.enrollments_student.items():}}
<h4><li>{{=enr.row.program.name}} - {{=T('Advisor')}}: {{=enr.row.advisor.first_name}} {{=enr.row.advisor.last_name}}</li></h4>
<table class="table table-striped table-hover">
    <theader>
        <th>{{=T('Deadline')}}</th>
        <th>{{=T('Document Type')}}</th>
        <th>{{=T('Situation')}}</th>
        <th>{{=T('Action')}}</th>
    </theader>
    <tbody class="">
    {{for (id,rep) in sorted(enr.reports.iteritems(), key=lambda r: r[1].deadline):}}
        {{date = rep.deadline}}
         <tr>
             <td><i class="icon icon-file"></i>&nbsp;{{=date}}</td>
             <td>{{=rep.name}}</td>
             <td>{{=rep.status_details.render() if rep.status_details else ''}}
                 {{if not rep.status_details or rep.status_details.data["id"] < current.status["submitted"]:}}
                     {{=I(_class='icon-star-empty' if (date+datetime.timedelta(days=-2)) > datetime.date.today() else 'icon-time') }}{{=rep.deadline_situation()}}</td>
                 {{pass}}
             <td>{{=actions[rep.student_next_action()]([enr_id, id])}}</td>
         </tr>
    {{pass}}
    </tbody>
</table>
{{pass}}
<script>
    $( function () {
        $(".label-status").tooltip();
    });
</script>
{{#=BEAUTIFY(response._vars)}}
